<div class="card card-inverse" style="background-color: #aaa; border-color: #aaa;" {{ manage_tags() }}>
  <div class="card-block">
    <p class="card-text">
        Form Progress (dummy)
    </p>
  </div>
</div>
