<div class="row bg-dark">
  <div class="col-xs-12">
    <ul class="nav nav-inline nav-sequence" {{ manage_tags() }}>
      <li class="nav-item">
        <a class="nav-link">Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Progress</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Dummy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active">Bar</a>
      </li>
    </ul>
  </div>
</div>