<html>
    <head>
        <title>Media Manager</title>
    </head>
    <body>
        <div class="page-header clearfix">
            <h1 class="pull-left">
                {% block opifer_media_title %}{% endblock opifer_media_title %}
            </h1>
        </div>
        {% block opifer_media_body %}{% endblock opifer_media_body %}
        {% block opifer_media_javascripts %}{% endblock opifer_media_javascripts %}
    </body>
</html>
