Opifer\CmsBundle\Entity\Content:
    type: entity
    table: content
    repositoryClass: Opifer\CmsBundle\Repository\ContentRepository
    gedmo:
      tree:
        type: nested
      soft_deleteable:
        field_name: deletedAt
        time_aware: false
    id:
        id:
            type: integer
            scale: 0
            length: null
            unique: false
            nullable: false
            precision: 0
            id: true
            generator:
                strategy: IDENTITY
    fields:
        active:
            type: boolean
            scale: 0
            length: null
            unique: false
            nullable: false
            precision: 0
        indexable:
            type: boolean
            scale: 0
            length: null
            unique: false
            nullable: false
            precision: 0
        searchable:
            type: boolean
            scale: 0
            length: null
            unique: false
            nullable: false
            precision: 0
        title:
            type: string
            scale: 0
            length: 255
            unique: false
            nullable: false
            precision: 0
        description:
            type: text
            scale: 0
            length: null
            unique: false
            nullable: true
            precision: 0
        lft:
            type: integer
            scale: 0
            length: null
            unique: false
            nullable: false
            precision: 0
            gedmo:
              - treeLeft
        lvl:
            type: integer
            scale: 0
            length: null
            unique: false
            nullable: false
            precision: 0
            gedmo:
              - treeLevel
        rgt:
            type: integer
            scale: 0
            length: null
            unique: false
            nullable: false
            precision: 0
            gedmo:
              - treeRight
        root:
            type: integer
            scale: 0
            length: null
            unique: false
            nullable: true
            precision: 0
            gedmo:
              - treeRoot
        createdAt:
            type: datetime
            scale: 0
            length: null
            unique: false
            nullable: true
            precision: 0
            column: created_at
            gedmo:
              timestampable:
                on: create
        updatedAt:
            type: datetime
            scale: 0
            length: null
            unique: false
            nullable: false
            precision: 0
            column: updated_at
            gedmo:
              timestampable:
                on: update
        shortTitle:
            type: string
            scale: 0
            length: 255
            unique: false
            nullable: true
            precision: 0
            column: short_title
        alias:
            type: string
            scale: 0
            length: 255
            unique: false
            nullable: true
            precision: 0
            gedmo:
              slug:
                fields:
                  - alias
                handlers:
                  Opifer\ContentBundle\Handler\AliasHandler:
                    field: slug
                    separator: -
                unique_base: deletedAt
        slug:
            type: string
            scale: 0
            length: 255
            unique: false
            nullable: false
            precision: 0
            gedmo:
              slug:
                fields:
                  - title
                handlers:
                  Gedmo\Sluggable\Handler\RelativeSlugHandler:
                    relationField: parent
                    relationSlugField: slug
                    separator: /
                unique_base: deletedAt
                updatable: false

        deletedAt:
            type: datetime
            scale: 0
            length: null
            unique: false
            nullable: true
            precision: 0
            column: deleted_at
        showInNavigation:
            type: boolean
            scale: 0
            length: null
            unique: false
            nullable: false
            precision: 0
            column: show_in_navigation
    manyToOne:
        site:
            targetEntity: Opifer\CmsBundle\Entity\Site
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                site_id:
                    referencedColumnName: id
            orphanRemoval: false
        template:
            targetEntity: Opifer\ContentBundle\Entity\Template
            cascade: {  }
            fetch: EAGER
            mappedBy: null
            inversedBy: null
            joinColumns:
                template_id:
                    referencedColumnName: id
            orphanRemoval: false
        contentType:
            targetEntity: Opifer\ContentBundle\Model\ContentTypeInterface
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: content
            joinColumns:
                content_type_id:
                    referencedColumnName: id
            orphanRemoval: false
        author:
            targetEntity: FOS\UserBundle\Model\UserInterface
            joinColumns:
                author_id:
                    referencedColumnName: id
        parent:
            targetEntity: Opifer\ContentBundle\Model\ContentInterface
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: children
            joinColumns:
                parent_id:
                    referencedColumnName: id
                    onDelete: CASCADE
            orphanRemoval: false
            gedmo:
              - treeParent
        valueSet:
            targetEntity: Opifer\EavBundle\Model\ValueSetInterface
            cascade:
                - persist
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                valueset_id:
                    referencedColumnName: id
                    onDelete: CASCADE
            orphanRemoval: false
    oneToMany:
        blocks:
            targetEntity: Opifer\ContentBundle\Entity\Block
            cascade:
                - remove
                - persist
                - detach
            fetch: LAZY
            mappedBy: content
            inversedBy: null
            orphanRemoval: false
            orderBy:
                sort: ASC
        children:
            targetEntity: Opifer\ContentBundle\Model\ContentInterface
            cascade: {  }
            fetch: LAZY
            mappedBy: parent
            inversedBy: null
            orphanRemoval: false
            orderBy:
                lft: ASC
    manyToMany:
        medias:
            targetEntity: Opifer\MediaBundle\Model\MediaInterface
            joinTable:
                name: opifer_content_media
                joinColumns:
                    content_id:
                        referencedColumnName: id
                inversedJoinColumns:
                    media_id:
                        referencedColumnName: id
                        onDelete: CASCADE
    lifecycleCallbacks: {  }
