.btn,
.input-group-addon {
    &:hover {
        cursor: pointer;
    }
    .material-icons {
        display: inline-flex;
        vertical-align: middle;
        margin-top: -1px;
        font-size: 18px;
    }
}

.btn-default,
.btn-primary {
    min-width: 100px;
}

.form-group .btn {
    min-width: auto;
}

.navbar-btn {
    min-width: auto;

    .btn {
        min-width: auto;

        .material-icons {
            font-size: 24px;
        }
    }
}

.btn-default,
.btn-primary,
.btn-danger {
    border-radius: 0;
//    box-shadow: 0 1px 0 fade(darken(@brand-primary, 25%), 10%);
}

.btn-danger {
    border-radius: 0;
//    box-shadow: 0 1px 0 fade(darken(@brand-danger, 25%), 10%);
}

.btn-success {
    border-radius: 0;
//    box-shadow: 0 1px 0 fade(darken(@brand-success, 25%), 10%);
}

.btn-link {
    color: @text-color;
    border-bottom: 0 !important;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none !important;
        background: fade(@brand-primary, 10%);
    }
}

.btn-paginate {
    width: 100%;
    .btn-default;
}

.btn-close {
    border: 0;

    > i {
        display: none !important;
    }

    &:before {
        &:extend(.material-icons);
        content: "close";
        color: @text-color;
    }

    &:focus,
    &:hover {
        border: 0;
        color: black;
    }
}

.btn-heading-blend {
    padding: 5px;
    margin-top: 13px;
    margin-left: 3px;
    border: 0;
    background-color: transparent;
    color: @gray-light;

    &:active:focus,
    &:active {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        color: @gray-darker;
        background-color: transparent;
    }
}

.btn-default-outline {
    background: transparent;
    color: white;
    border: 1px solid white;

    &:hover {
        color: white;
    }
}


.btn-skeleton {
    &.btn-default-outline {}
}

.btn-drag {
    .btn-default;
    color: @gray-light;
    height: 32px;
    background-color: transparent !important;
    border-color: transparent !important;
    cursor: -webkit-grab;
    cursor: grab;

    &:before {
        font-size: @font-size-base;
        line-height: @font-size-large;

        .fa('\f142');
    }
}

.ui-sortable-helper {
    .btn-drag {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }
}

.btn-publication {
    border: 2px solid lighten(@text-muted, 40%);
    box-shadow: inset 1px 1px @btn-default-border, inset -1px -1px @btn-default-border;
    background-color: white;
    color: @text-muted;

    i {
        .fa;
        font-size: @font-size-large;
        margin-right: .5rem;

        &:before {
            color: @text-muted;
            .fa('\f070');
        }
    }

    &.active {
        border: 2px solid #2C992E;
        color: #2C992E;
        box-shadow: inset 1px 1px @btn-default-border, inset -1px -1px @btn-default-border !important;

        i {
            &:before {
                color: #2C992E;
                .fa('\f06e');
            }
        }
    }
}

.btn-group-styling {
  position: relative;
  vertical-align: middle;
	width: 100%;

		.checkbox {
				width: 49%;
				margin-right: 1%!important;
		}

		.radio {
			width: 24%;
			margin-right: 1%!important;
		}

		.radio,
		.checkbox {
			display: inline-block;
			font-weight: 400;
			line-height: 1.25;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			user-select: none;
			border: 1px solid transparent;
			font-size: 1rem;
			transition: all .2s ease-in-out;
			padding-top: 0px;
			margin-bottom: 0.5rem;
			color: #fff;
			background-color: #0275d8;
			border-color: #0275d8;

			label {
				padding-right: 1rem;
				padding-left: 1rem;	
			}

				label.btn.active {
					width: 100%!important;
					color: #fff;
					background-color: @cms-primary-btn;
					border-color: @primary-btn-active;
				}

				label.btn:hover {
					width: 100%!important;
					color: #fff;
					background-color: @cms-primary-btn;
					border-color: @primary-btn-active;

				}
			
				input[type="radio"] {
					position: absolute;
					clip: rect(0,0,0,0)!important;
					pointer-events: none!important;
				}		

				input[type="checkbox"] {
					position: absolute;
					clip: rect(0,0,0,0)!important;
					pointer-events: none!important;
				}	
		}
}
.btn-image-ratio {
	.radio {
		width: 32%;
		margin-right: 1%!important;
	}
}
.checkbox label.btn{
	width: auto!important;
}

.field-btn-group {
    &:extend(.btn-group);
    .radio {
        &:extend(.btn);
        &:extend(.btn-default);
        min-width: default;
    }

    label {
        padding-left: 0;
    }

    input[type="radio"] {
        position: absolute;
        clip: rect(0,0,0,0)!important;
        pointer-events: none!important;
    }	
	// width: 100%;
    // .radio {
    //     float:left;
    //     color: #333;
    //     background-color: #fff !important;
    //     border: 1px solid #ccc;
    //     width: 19%;
    //     margin-right: 1%;
    //     padding-top: 0px!important;
    //     border-radius: 4px;

    //     label {
    //         padding-right: 1rem;
    //         padding-left: 1rem;	
    //         width: 100%;
    //     }

    //     input[type="radio"] {
    //         position: absolute;
    //         clip: rect(0,0,0,0)!important;
    //         pointer-events: none!important;
    //     }	
	// }
}
