
@font-face {
    font-family: 'Gotham Light';
    src: url('../font/Gotham-Light.eot');
    src: url('../font/Gotham-Light.ttf') format('truetype'),
    url('../font/Gotham-Light.woff') format('woff'),
    url('../font/Gotham-Light.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Gotham Medium';
    src: url('../font/Gotham-Medium.eot');
    src: url('../font/Gotham-Medium.ttf') format('truetype'),
    url('../font/Gotham-Medium.woff') format('woff'),
    url('../font/Gotham-Medium.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}