.va-container {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
}

.va-middle {
    vertical-align: middle;
}

.va-middle,
.va-top,
.va-bottom {
    display: table-cell;
}

.row-space-2 {
    margin-bottom: @grid-gutter-width/2;
}
.row-space-4 {
    margin-bottom: @grid-gutter-width;
}
.row-space-8 {
    margin-bottom: @grid-gutter-width*2;
}

.row-space-top-2 {
    margin-top: @grid-gutter-width/2;
}
.row-space-top-4 {
    margin-top: @grid-gutter-width;
}
.row-space-top-8 {
    margin-top: @grid-gutter-width*2;
}



.grid {
    table {
        border-width: 0;
        font-family: "Helvetica Neue", "Myriad Pro", "Segoe UI", "Arial", sans-serif;

        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th {
                    padding: 7px 8px;
                    background-color: transparent;
                    color: @gray;

                    > a {
                        color: @gray;
                    }

                    .material-icons {
                        display: inline-flex;
                        vertical-align: middle;
                        line-height: 0.9;
                        color: @gray;
                    }

                    &:first-child {
                        border-left-width: 0;
                    }
                    &:last-child {
                        border-right-width: 0;
                    }
                }

                > td {
                    padding: 8px;
                    white-space: nowrap;
                    border-width: 1px 0;
                    color: @gray-darker;
                }
            }
        }
    }

    select {
        &:extend(.form-control);
    }

    .grid-row-titles {
        th {
            white-space: nowrap;
            word-break: keep-all;
        }
    }

    .sort_down {
        display: inline;
        margin-left: .5em;

        &:after {
            .fa(@fa-var-arrow-down);
        }
    }

    .sort_up {
        display: inline;
        margin-left: .5em;

        &:after {
            .fa(@fa-var-arrow-up);
        }
    }

    .btn-separator {
        &:before {
            content: " ";
            float: left;
            display: inline-block;
            margin: 4px 1em;
            border-left: 1px solid @input-border;
            height: @input-height-base - 4;

        }
    }

    .btn-group-columns {
        .btn-columns {
            padding: 6px 8px 3px;

            i {
                font-size: @font-size-large;
                color: @gray;
            }
        }

        .dropdown-menu {
            padding: @panel-body-padding;
            min-width: 200px;

            label {
                text-transform: capitalize;
            }
        }

        .dropdown-header {
            padding: 0;
            margin-bottom: 10px;
            font-size: @font-size-base;
        }

        .checkbox {
            margin-top: 3px;
            margin-bottom: 3px;
        }
    }

    .pagination {
        margin: 0;
        .make-sm-column(5);

        ul {
            &:extend(.pagination all);
            margin: 0;
        }
    }

    .count {
        .make-sm-column(3);
        .text-center;
        color: @gray;
        line-height: @input-height-base;

        select {
            display: inline;
            width: auto;
        }
    }

    .grid_massactions,
    .exports {
        .make-sm-column(4);
        text-align: right;

        select {
            display: inline-block;
            width: 100px;
            margin: 0 @padding-small-horizontal;
        }
    }

    .grid_massactions_helper {
        .make-sm-column(8);
        vertical-align: baseline;
        line-height: @input-height-base;
    }

    input[type=button],
    input[type=submit] {
        &:extend(.btn);
        &:extend(.btn-default);

        &.grid-search-reset {
            .btn-sm;
        }
    }
}

.grid_header {
    &:extend(.clearfix all);
    &:extend(.row all);
    margin-bottom: @line-height-computed;
}


.grid-filter-input {
    margin: -6px;
    display: block;
    position: relative;
}

.grid-filter-operator {
    display: block;
    position: absolute;
    width: 50px;
    select {
        border-color: transparent;
    }
}

.grid-filter-input-query {
    display: block;
    margin-left: 50px;

    input {
        &:extend(.form-control);
        border-width: 0;
    }
}

.grid_body {
    &:extend(.table-responsive);
    &:extend(.clearfix all);
    margin-bottom: @line-height-computed;

    table {
        margin-bottom: 0;

        th {
            text-transform: capitalize;
        }
    }
}

.grid_footer {
    &:extend(.clearfix all);
    &:extend(.row all);
    margin-top: 20px;
    margin-bottom: @line-height-computed;
}

.grid-column-__actions {
    a {
        margin-right: .5em;
        color: @gray;
        text-decoration: underline;
        text-transform: capitalize;
    }
}