
.admin-menu .grid-column-name {

    span{
        cursor: pointer;

        &:before {
            margin-right: 10px;
            color: @gray;
            font-size: 18px;
            .fa('\f07b');
        }

        &.active:before{
            content: "\f07c";
        }
    }

    a {
        span:before {
            content: "\f15b";
            color: @gray-light;
            font-size: 14px;
        }

        span.active:before {
            content: "\f15c";
        }
    }
}

.dropdown-menu {

    > li > a {
        padding: 5px 20px;
    }

    .box-shadow(0 2px 2px rgba(0,0,0,.175));
    min-width: 190px;
    padding: 10px 0;

    .material-icons {
        display: inline-flex;
        vertical-align: middle;
        line-height: 0.9;
        margin-left: -8px;
        margin-right: 5px;
        color: @gray;
    }
}
