.mainnav {
    .clearfix;
}

.navbar {
    margin-bottom: 0;

    .whitelabel-switch-form {
        margin: 10px 0;
    }
}

.nav-tabs {
    > li > a {
        color: white;
    }
}

.nav-tabs {
    height: 34px;
}

.nav-tabs > li {

    &.dropdown:hover a,
    &.dropdown a:hover {
        color: #111;
        background: transparent;
        border-color: transparent;
    }

    &.open {
        > a,
        > a:hover,
        > a:focus {
            color: #111;
            border-color: transparent;
            background-color: transparent;
        }
    }

    > a {
        padding: 7px 15px;
        color: #666;

        &:hover {
            color: #111;
        }
    }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #111;
}

.page-tabs {
    margin-top: 20px;

    li.first {
        margin-left: 20px;
    }
}


nav {
    background-color: transparent;
}

.navbar-inverse {
    background-color: #222;
    border-color: #222;
    border-bottom: 0;
}

.navbar {
    .navbar-nav {
        > li {
            > a,
            > span {
                font-family: @headings-font-family;
                color: white;
                font-size: 14px;
                max-height: 48px;

                &:hover {
                    color: #fff;
                }
            }

            .material-icons {
                display: inline-flex;
                vertical-align: middle;
                line-height: 0.9;

                &.md-24 {
                    line-height: 0.6;
                }
            }
        }
    }
}




//
//.nav-pills {
//    border: 1px solid @gray-lighter;
//    border-radius: @border-radius-base;
//    background-color: @gray-lighter;
//
//    a {
//        color: @gray-light;
//        padding: @padding-base-vertical @padding-base-horizontal !important;
//    }
//    li + li {
//        margin-left: 0;
//    }
//    > li.active > a,
//    > li > a:hover,
//    > li.active > a:focus {
//        .btn-default;
//        background: white !important;
//        color: @gray-darker;
//    }
//}
