.panel-default {
    border: none;

    > .panel-heading {
        background-color: @gray-lighter;
    }

    > .panel-footer {
        background-color: @gray-lighter;
    }

    .btn-default {
        color: @brand-primary;
        background-color: none;

        &:after {
            margin-left: .5rem;
            .fa('\f105');
        }
    }
}

.panel-clear {
    border-width: 0;

    > .panel-heading {
    }

    > .panel-footer {
        background-color: transparent;
    }


    .btn-default {
        color: @brand-primary;
        background-color: none;

        &:after {
            margin-left: .5rem;
            .fa('\f105');
        }
    }
}

.panel {
    box-shadow: none;
}

.panel-section {

    .table {
        margin-bottom: 0;
    }
}