.treeview {
    display: block;
    margin: 0;
    padding: 0;

    ul.treeview-node {
        display: block;
        margin: 0;
        padding: 0;
    }

    li.treeview-node {
        display: block;
        margin: 0;
        padding: 0;
    }

    .treeview-node-details {
        .clearfix;
    }
}

.treeview-content {

    .treeview-col {
        .va-middle;
        padding: 8px;
    }

    .treeview-headers {
        border-bottom: 1px solid #ddd;

        > div {
            padding: 8px;
        }

        .treeview-headers-details {
            .make-xs-column(5);
        }

        .treeview-headers-path {
            .make-xs-column(3);
        }

        .treeview-headers-type {
            .make-xs-column(2);
        }

        .treeview-headers-actions {
            .make-xs-column(2);
        }

    }

    .treeview-node-details {
        border-bottom: 1px solid #ddd;
    }

    .treeview-node {

        ul.treeview-node .col-details {
            padding-left: 55px;
        }

        ul.treeview-node ul.treeview-node .col-details {
            padding-left: 85px;
        }

        ul.treeview-node ul.treeview-node ul.treeview-node .col-details {
            padding-left: 115px;
        }

        ul.treeview-node ul.treeview-node ul.treeview-node ul.treeview-node .col-details {
            padding-left: 145px;
        }

        ul.treeview-node ul.treeview-node ul.treeview-node ul.treeview-node ul.treeview-node .col-details {
            padding-left: 175px;
        }
    }

    .treeview-node-details + ul.treeview-node {
        display: none;
    }

    .treeview-node-details.expanded + ul.treeview-node {
        display: block;
    }

    .col-details {
        .make-xs-column(5);
        .treeview-col;
        padding-left: 25px;
    }

    .col-path {
        .make-xs-column(3);
        .treeview-col;
    }

    .col-type,
    .col-actions {
        .make-xs-column(2);
        .treeview-col;
    }

    .content-details {
        position: relative;
    }

    .content-figure {
        position: relative;
    }

    .btn-expand {
        position: absolute;
        width: 25px;
        height: 40px;
        left: -25px;
        top: -4px;

        &:before {
            &:extend(.material-icons);
            content: '\E5C5';
            line-height: 40px;
            height: 40px;
            color: @gray-light;
            text-align: center;
            .rotate(270deg);
        }
    }

    .expanded > div > div > .btn-expand {
        &:before {
            .rotate(0deg);
        }
    }

    .content-visual {
        position: relative;
        float: left;
        width: 40px;
        text-align: center;
        height: 40px;
        background: #aaa;
        color: white;
        margin: -4px 0;

        > .material-icons {
            line-height: 40px;
        }

        .cover-image {
            position: absolute;
            left: 0;
            right: 0;
            width: 40px;
            height: 40px;
            background-size: cover;
            background-position: center center;
        }

        .content-markers {
            position: absolute;
            left: -3px;
            bottom: -3px;
            text-align: left;

            .material-icons {
                font-size: 18px;
            }

            > i:before {
                &:extend(.material-icons);
                font-size: 18px;
                text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px #fff, 1px -1px 0 #fff;
            }

            .marker-active:before {
                color: @brand-success;
                content: "\E86C";
            }

            .marker-inactive:before {
                color: @brand-danger;
                content: "\E15C";
            }
        }
    }

    .content-details {
        float: left;
        .va-middle;
        margin-left: @grid-gutter-width/2;
    }

    .content-title {
        display: inline-block;
        font-size: 15px;
        cursor: pointer;
        padding: 7px 0;
    }



}


// Tree

.tree {
    min-height: 20px;

    > ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;
        margin: 0;
        padding: 5px 5px 0 5px;
        position: relative;

        &:before,
        &:after {
            content: '';
            left: -6px;
            position: absolute;
            right: auto;
            z-index: 1;
        }

        &:before {
            border-left: 1px solid #ddd;
            bottom: -1px;
            top: 1px;
            width: 1px;
        }

        &:after {
            border-top: 1px solid #ddd;
            height: 20px;
            top: 15px;
            width: 30px;
        }

        &:last-child:before {
            height: 15px;
        }

        .expand {
            display: inline-block;
            padding: 0;
            text-decoration: none;
            background: white;
            width: 22px;
            position: relative;
            z-index: 100;

            &:before {
                content: ' ';
            }
        }


        &.parent_li > .expand {

            &:before {
                &:extend(.material-icons);
                content: '\E5C5';
                line-height: .9em;
                color: @gray-light;
                .rotate(270deg);
            }

            &:hover,
            &:hover+ul li .expand {
                color: @gray-darker;
            }
        }


        &.expanded > .expand:before {
            .rotate(0deg);
        }

        > ul {
            display: none;
        }

        &.parent_li.expanded > ul{
            display: block;
        }


        .checkmark {
            display: inline-block;
            padding: 0;
            text-decoration: none;

            &:after {
                &:extend(.material-icons);
                content: '\E835';
                line-height: .9em;
            }
        }

        &.selected > .checkmark {
            &:after {
                content: '\E834';
                color: black;
            }
        }

        &.parent_li > span {
            cursor: pointer;
        }
    }

    > ul > li:before,
    > ul > li:after {
        border: 0;
    }
}



