{% extends 'OpiferCmsBundle:Backend:base.html.twig' %}

{% block body %}
    {% spaceless %}
        <div class="page-header clearfix">
            <h1>{{ 'form.new_form'|trans|capitalize }}</h1>
        </div>

        <div class="container">
            {% include 'OpiferCmsBundle:Backend/Form:_form.html.twig' %}
        </div>
    {% endspaceless %}
{% endblock body %}
