{% extends 'OpiferCmsBundle::base.html.twig' %}

{% block body %}
    {% spaceless %}
        <div class="page-header clearfix">
            <h1 class="pull-left">New form</h1>
        </div>

        <div class="container">
            <div class="row">
                {% include 'OpiferCmsBundle:Backend/Form:_form.html.twig' %}
            </div>
        </div>
    {% endspaceless %}
{% endblock body %}
