{% extends 'OpiferCmsBundle::base.html.twig' %}

{% block body %}
    {% spaceless %}
        <div class="page-header clearfix">
            <a href="{{ path('opifer_form_post_index', {'formId': form.id}) }}" class="btn btn-default pull-right">
                {{ 'form.see_posts'|trans|capitalize }}
            </a>
            <h1>{{ 'form.edit_form'|trans({ 'name': form.name }) }}</h1>
        </div>

        <div class="container">
            {% include 'OpiferCmsBundle:Backend/Form:_form.html.twig' %}
        </div>
    {% endspaceless %}
{% endblock body %}
