<div {{ manage_tags() }}>
	{% if breadcrumbs|default %}
		<ol class="breadcrumb">
		{% for slug, title in breadcrumbs %}
			{% if slug == currentPageSlug %}
				<li class="active">{{ title }}</li>
			{% else %}
				<li><a href="{{ path('_content', {'slug': slug}) }}">{{ title }}</a></li>
			{% endif %}
		{% endfor %}
		</ol>
	{% endif %}
</div>
