<div class="item {% if block.isfirstchild %}active{% endif %}" {{ manage_tags() }}>
    {% if block.media|default %}
        <img src="{{ block.media.reference|default('fallback.jpeg')|imagine_filter('medialibrary') }}">
    {% endif %}
    <div class="carousel-caption">
        {{ block.value|default }}
    </div>
</div>
