<div {{ manage_tags() }}>
    {% if block.value %}
        <h1><i class="material-icons">insert_drive_file</i></h1>
    {% else %}
        <h1><i class="material-icons">note_add</i></h1>
    {% endif %}
</div>
