<div class="jumbotron {{ block.properties.extra_classes|default }}" id="{{ block.properties.id|default }}">
    <div class="container">
        <div class="row">
            {{ block.value|default|raw }}
        </div>
    </div>
</div>