{% extends 'OpiferContentBundle::base.html.twig' %}

{% block opifer_content_body %}
    {% spaceless %}
        <div class="page-header clearfix">
            <h1 class="pull-left">Content</h1>
            <a href="{{ path('opifer_content_content_new') }}" class="btn btn-default pull-right">
                {{ 'button.add'|trans }}
            </a>
        </div>

        <content-browser site-id="" locale="nl_NL" directory-id="{{ directoryId }}" active="true"></content-browser>

        {{ include('OpiferCrudBundle:Datagrid:confirmation.html.twig') }}
    {% endspaceless %}
{% endblock opifer_content_body %}
