{% extends 'OpiferCmsBundle::base.html.twig' %}

{% block body %}
    {% spaceless %}
        <div ng-controller="MediaLibraryController" ng-init="init('default', '{{ providers|json_encode() }}')">
            <ng-media-library></ng-media-library>
        </div>
    {% endspaceless %}
{% endblock body %}
