{% extends 'OpiferCmsBundle:Backend:base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="container">
            <h1 class="pull-left">Create a new site</h1>
            <a href="{{ path('opifer_cms_site_index') }}" class="btn btn-default pull-right">
                Site overview
            </a>
            <a href="{{ path('opifer_cms_domain_index') }}" class="btn btn-default pull-right">
                Manage domains
            </a>
        </div>
    </div>
    <div class="container page-body">
        <div class="row">
            <div class="col-xs-12">
                {% include 'OpiferCmsBundle:Backend/Site:_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock body %}
