{% extends 'OpiferCmsBundle:Backend:base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="container">
            <span class="caption">{{ 'title.site'|trans|capitalize }}</span>
            <a href="{{ path('opifer_cms_site_index') }}" class="btn btn-default pull-right">
                Site overview
            </a>
            <h1>Edit site "{{ site.name }}"</h1>
        </div>
    </div>

    <div class="container page-body">
        <div class="row">
            <div class="col-xs-12">
                {% include 'OpiferCmsBundle:Backend/Site:_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock body %}
