{% extends '@OpiferCms/Backend/base.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        <div class="page-header clearfix">
            <h1>Create a new cronjob</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% include '@OpiferCms/Backend/Cronjob/_form.html.twig' %}
        </div>
    </div>
{% endblock body %}
