{% extends 'OpiferCmsBundle:Backend:base.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        <div class="page-header clearfix">
            <h1>Edit cronjob "{{ cron.command }}"</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% include 'OpiferCmsBundle:Backend/Cronjob:_form.html.twig' %}
        </div>
    </div>
{% endblock body %}
