{% extends 'OpiferCmsBundle:Backend:base.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        <div class="page-header clearfix">
            <h1>{{ 'title.cronjob'|trans|capitalize }}</h1>
            <a href="{{ path('opifer_cms_cronjob_create') }}" class="btn btn-default pull-right">
                New cronjob
            </a>
        </div>
    </div>

    {% include 'OpiferCmsBundle:Components:grid.html.twig' with { 'grid': grid } %}
{% endblock body %}
