<div class="content-browser">
    <div class="row row-space-2">
        <div class="col-xs-12">
            <form class="form-inline" role="search">
                <div class="form-group">
                    <div class="input-group search-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="query">
                        <span class="input-group-addon">
                            <i class="material-icons md-18">search</i>
                        </span>
                    </div>
                </div>
                <i class="material-icons" ng-click="clearSearch()" ng-show="query">close</i>
            </form>
        </div>
    </div>
    <section class="row">
        <div class="col-xs-12">
        <div class="treeview treeview-content">
            <div class="treeview-headers">
                <div class="treeview-headers-details">
                    Content
                </div>
                <div class="treeview-headers-path">
                    Permalink
                </div>
                <div class="treeview-headers-type">
                    Type
                </div>
                <div width="treeview-headers-actions">
                    Actions
                </div>
            </div>
            <script type="text/ng-template" id="content_tree_template.html">
                    <div class="treeview-node-details" ng-class="isExpanded(content) ? 'expanded' : ''">
                        <div class="col-details">
                            <div class="content-figure">
                                <a class="btn-expand" ng-click="expand(content)" ng-show="childNodes(content.id).length > 0"></a>
                                <div class="content-visual" ng-click="expand(content)">
                                    <i class="material-icons" ng-if="!content.coverImage">description</i>
                                    <div ng-if="content.coverImage" afkl-lazy-image="{{ content.coverImage }}" afkl-lazy-image-options='{"background": true}' class="cover-image afkl-lazy-wrapper afkl-img-ratio-1-1"></div>
                                    <div class="content-markers">
                                        <i class="marker-active" ng-if="content.active"></i>
                                        <i class="marker-inactive" ng-if="!content.active"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="content-details">
                                <span class="content-title" ng-click="editContent(content.id)" ng-class="content.active ? '' : 'text-muted'">{{ content.title}}</span>
                            </div>
                        </div>
                        <div class="col-path" ng-class="content.active ? '' : 'text-muted'"><s ng-if="!content.active"><small>{{ content.path}}</small></s><a href="{{ content.path}}" target="_blank" ng-if="content.active"><small>{{ content.path}}</small></a></div>
                        <div class="col-type"><span class="label label-info">{{ content.content_type.name }}</span></div>
                        <div class="col-actions" ng-if="mode == 'ADMIN'">
                            <div class="btn-group">
                                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ editUrl(content.id) }}"><i class="material-icons md-18">dvr</i> Details</a></li>
                                    <li><a href="{{ designUrl(content.id) }}"><i class="material-icons md-18">layers</i> Design</a></li>
                                    <li><a class="js-delete-confirm" ng-click="confirmCopyContent(content, $event)" data-action_title="Duplicate" data-confirmation_message="Do you really want to duplicate " data-name="{{ content.title }}"><i class="material-icons md-18">control_point_duplicate</i> Duplicate</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a class="js-delete-confirm" ng-click="confirmDeleteContent(content, $event)" data-action_title="Delete"  data-confirmation_message="Do you really want to delete " data-name="{{ content.title }}"><i class="material-icons md-18">delete</i> Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-actions" ng-if="mode == 'PICKER'">
                            <a href="#" ng-click="pickContent(content)" ng-show="!hasContent(content)">Add</a>
                            <a href="#" class="text-danger" ng-click="unpickContent(content)" ng-show="hasContent(content)">Remove</a>&nbsp;
                        </div>
                        <div class="col-actions" ng-if="mode == 'PICKER_SINGLE'">
                            <a href="#" ng-click="pickContent(content)">Choose</a>
                        </div>
                    </div>
                    <ul class="treeview-node">
                        <li ng-include="'content_tree_template.html'" ng-repeat="content in childNodes(content.id) track by content.id" class="treeview-node"></li>
                    </ul>
            </script>
            <ul class="treeview-node">
                <li ng-include="'content_tree_template.html'" ng-repeat="content in rootNodes() track by content.id" class="treeview-node"></li>
            </ul>
        </div>
        <nav class="center-block panel-body text-center">
            <button ng-model="btnPaginate" ng-click="loadMore()" in-view="loadMore()" type="button" data-loading-text="Loading..."  class="btn btn-primary" ng-hide="(maxPerPage * currentPage) > numberOfResults">
                {{ lblPaginate }}
            </button>
        </nav>
        </div>
    </section>
</div>

<ng-modal show='confirmation.shown'>
    <div class="modal-header">
        <h4 class="modal-title">Confirm {{ confirmation.dataset.action_title }}</h4>
    </div>
    <div class="modal-body">
        {{ confirmation.dataset.confirmation_message }} "{{ confirmation.name }}" content?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link" ng-click="confirmation.shown = false">
            Cancel
        </button>
        <button class="btn {{ confirmation.dataset.btn_type }} modal-confirm-button" ng-click="confirmation.action(confirmation.object)" title="{{ confirmation.action_description }}">
            {{ confirmation.dataset.action_title }}
        </button>
    </div>
</ng-modal>
