{% extends '@OpiferCms/Backend/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>
                    <small>Template</small><br />
                    {{ template.displayname }}
                </h1>
            </div>

            {% include '@OpiferCms/Backend/Template/_form.html.twig' %}
        </div>
    </div>
{% endblock body %}
