{% extends 'OpiferCmsBundle:Backend:base.html.twig' %}

{% block body %}
    <div class="page-header clearfix">
        <a href="{{ path('opifer_cms_template_create') }}" class="btn btn-link pull-right">
            <i class="material-icons">add</i>
            New template
        </a>
        <h1>{{ "base.templates"|trans|capitalize }}</h1>
    </div>

    <section class="container-fluid">
        {{ grid(grid, 'OpiferCmsBundle:Backend/Grid:grid.html.twig') }}
    </section>
{% endblock body %}
