<div>{{ 'media.no_preview'|trans|capitalize }}</div>

<h4 align="center">
    <a href="{{ path('opifer.media.media.edit', {'id':media.id}) }}">
        {{ media.name }}
    </a>
</h4>
<div align="center">
    {% if media.filesize %}
        {{ media.readableFilesize }}
    {% endif %}
</div>
