{% block opifer_expression_engine_widget %}
    <div id="expressionbuilder" expressions='{{ value }}' prototypes='{{ prototypes }}' debug='{{ debug }}' input="{{ full_name }}"></div>
{% endblock opifer_expression_engine_widget %}
