{% extends 'OpiferCmsBundle:Backend:base.html.twig' %}

{% block body %}
    <div class="page-header clearfix">
        <h1 class="pull-left">Directories</h1>
        <a href="{{ path('opifer_content_directory_new') }}" class="btn btn-default pull-right">
            new directory
        </a>
    </div>

    {% include 'OpiferCmsBundle:Components:grid.html.twig' with { 'grid': grid } %}
{% endblock body %}
