{% extends 'OpiferMediaBundle::base.html.twig' %}

{% block opifer_media_header %}{% endblock %}

{% block opifer_media_body %}
    <div ng-controller="MediaLibraryController" ng-init="init('default', '{{ providers|json_encode() }}')">
        <ng-media-library></ng-media-library>
    </div>
{% endblock opifer_media_body %}

{% block opifer_media_javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('#form_search').select2({
            minimumInputLength: 1,
            ajax: {
                url: "{{ path('opifer.api.media') }}",
                dataType: 'json',
                quietMillis: 100,
                data: function (term, page) {
                    return {
                        search: term,
                        limit: 10,
                        page: page
                    };
                },
                results: function (data, page) {
                    var more = (page * 10) < data.total;

                    return {results: data, more: more};
                }
            },
            formatResult: function(item) {
                return "<div class='select2-user-result'>" + item.name + "</div>";
            },
            formatSelection: function(item) {
                var route = "{{ path('opifer.media.media.edit', {'id':1}) }}";

                window.location.href = route.replace(1, item.id);
            },
            dropdownCssClass: 'bigdrop' // apply css that makes the dropdown taller
        });

        $(document).ready(function(){
            $('.media-items .item').each(function(){
               $(this).css('width', $(this).find('img').width()+30);
            });
        });
    </script>
{% endblock opifer_media_javascripts %}
