<div class="reviews" {{ manage_tags() }}>
    {% for review in reviews %}
        <div class="row">
            <h2>{{ review.title|capitalize }}</h2>
            <p class="subhead">{{ review.createdAt|localizeddate('long', 'none', app.request.locale, 'Europe/Amsterdam') }}</p>
            <p>
                {{ review.content }}
            </p>
        </div>
    {% endfor %}
</div>
