<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<table cellpadding="0" cellspacing="0" width="100%" style="background-color:#ebebeb;">
    <tr>
        <td style="height:40px;"></td>
    </tr>
    <tr>
        <td align="center">
            <table cellpadding="0" cellspacing="0" style="width:650px;background-color:#fff;">
                <tr>
                    <td style="width:40px;"></td>
                    <td colspan="3" align="left" style="padding-top: 10px;">
                        <span style="font-family:arial;font-size:14px;line-height:22px;">New message on form "{{ post.form.name }}".</span>
                    </td>
                    <td style="width:40px;"></td>
                </tr>
                <tr>
                    <td colspan="5" style="height:15px;"></td>
                </tr>
            </table>

            <table cellpadding="0" cellspacing="0" style="width:650px;background-color:#fff;">
                {% for key, value in post.valueset.namedvalues %}
                    <tr>
                        <td style="width:40px;"></td>
                        <td width="35%" align="left" style="padding-bottom:10px;">
                        <span style="font-family:arial;font-size:14px;line-height:22px;">
                            {{ value.attribute.displayName }}
                        </span>
                        </td>
                        <td>
                        <span style="font-family:arial;font-size:14px;line-height:22px;font-weight:bold;">
                            {{ value }}
                        </span>
                        </td>
                        <td style="width:40px;"></td>
                    </tr>
                {% endfor %}
            </table>

            <table cellpadding="0" cellspacing="0" style="width:650px;background-color:#fff;">
                <tr>
                    <td style="height:40px;"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:40px;"></td>
    </tr>
</table>
