opifer_content_api_content:
    path: /content
    defaults: { _controller: OpiferContentBundle:Api/Content:index }
    methods: [GET]
    options:
        expose: true

opifer_content_api_content_ids:
    path: /content/ids/{ids}
    defaults: { _controller: OpiferContentBundle:Api/Content:ids }
    methods: [GET]
    options:
        expose: true

opifer_content_api_content_view:
    path: /content/{id}
    defaults: { _controller: OpiferContentBundle:Api/Content:view }
    methods: [GET]
    options:
        expose: true

opifer_content_api_content_delete:
    path: /content/{id}
    defaults: { _controller: OpiferContentBundle:Api/Content:delete }
    methods: [DELETE]
    options:
        expose: true

opifer_content_content_duplicate:
    path: /content/duplicate
    defaults: { _controller: OpiferContentBundle:Api/Content:duplicate }
    methods: [PUT]
    options:
        expose: true

opifer_content_api_contenteditor_create_block:
    path: /contenteditor/createblock/{type}/{typeId}/{ownerId}
    defaults: { _controller: OpiferContentBundle:Api/ContentEditor:createBlock }
    methods: [POST]
    options:
        expose: true

opifer_content_api_contenteditor_move_block:
    path: /contenteditor/moveblock
    defaults: { _controller: OpiferContentBundle:Api/ContentEditor:moveBlock }
    methods: [POST]
    options:
        expose: true

opifer_content_api_contenteditor_view_block:
    path: /contenteditor/viewblock/{type}/{typeId}/{id}
    defaults: { _controller: OpiferContentBundle:Api/ContentEditor:viewBlock }
    methods: [GET]
    options:
        expose: true

opifer_content_api_contenteditor_remove_block:
    path: /contenteditor/removeblock/{id}
    defaults: { _controller: OpiferContentBundle:Api/ContentEditor:removeBlock }
    methods: [DELETE]
    options:
        expose: true

opifer_content_api_contenteditor_make_shared:
    path: /contenteditor/makeshared/{type}/{typeId}/{ownerId}
    defaults: { _controller: OpiferContentBundle:Api/ContentEditor:makeShared }
    methods: [POST]
    options:
        expose: true

opifer_content_api_contenteditor_publish_shared:
    path: /contenteditor/publishshared
    defaults: { _controller: OpiferContentBundle:Api/ContentEditor:publishShared }
    methods: [POST]
    options:
        expose: true

opifer_content_api_contenteditor_publish:
    path: /contenteditor/publish
    defaults: { _controller: OpiferContentBundle:Api/ContentEditor:publishBlock }
    methods: [POST]
    options:
        expose: true

opifer_content_api_contenteditor_discard:
    path: /contenteditor/discard
    defaults: { _controller: OpiferContentBundle:Api/ContentEditor:discardBlock }
    methods: [POST]
    options:
        expose: true
