security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_SOCIAL:      ROLE_USER
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        chain_provider:
            chain:
                providers: [fos_userbundle]
        fos_userbundle:
            # Log in with either username or email
            id: fos_user.user_provider.username_email

    firewalls:
        login:
            pattern:  ^/admin/api/login
            stateless: true
            anonymous: true
            form_login:
                check_path:               /admin/api/login_check
                success_handler:          lexik_jwt_authentication.handler.authentication_success
                failure_handler:          lexik_jwt_authentication.handler.authentication_failure
                require_previous_session: false
        api:
            pattern:   ^/admin/api/(?!content|directories|sites|media|contenteditor|options|schemas)
            stateless: true
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator
        staging:
            host: ^staging\.
            methods: [GET, POST, DELETE, PUT, PATCH, OPTIONS]
            http_basic:
                provider: fos_userbundle
            anonymous: false
        main:
            pattern: ^/
            simple_form:
                authenticator: opifer.cms.captcha_authenticator
                provider:      fos_userbundle
                csrf_token_generator: security.csrf.token_manager
                success_handler: opifer.cms.authentication_success_handler
            logout:    true
            anonymous: true
            remember_me:
                secret:   '%secret%'
                lifetime: 604800
                path:     /

    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/, role: ROLE_ADMIN }
