{% extends 'OpiferMediaBundle::base.html.twig' %}

{% block opifer_media_title %}
    <span class="iconl icon-file"></span>{{ 'imagefilter.new'|trans|capitalize }}
{% endblock opifer_media_title %}

{% block opifer_media_body %}
    <section class="page-section">
        {{ form(form, {'style': 'horizontal'}) }}
    </section>
{% endblock opifer_media_body %}
