 <section class="{{ block.properties.styles|default|join(' ') }} container{{ (block.properties.container_size|default) ? '-'~block.properties.container_size: '' }} {{ block.properties.extra_classes|default }}">
     {{ render_placeholder() }}
 </section>