@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
}
.material-icons {
  font: normal normal normal 20px/1 'Material Icons';
  font-size: inherit;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.pm {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
}
.pm * {
  -webkit-font-smoothing: auto !important;
}
.pm a {
  color: #1f67b2;
}
.pm-layout {
  text-align: left;
}
.pm-layout > .pm-toolbar {
  background-color: #eecdcf;
}
.pm-layout.pm-accept {
  background: rgba(238, 205, 207, 0.2);
  padding: 10px;
}
.pm-placeholder-droparea {
  min-height: 60px;
  height: 100%;
  border: 1px dashed #777777;
  padding: 6px 12px;
  background: rgba(255, 217, 46, 0.3);
}
.pm-caption {
  color: #777777;
}
.pm-caption .key {
  font-weight: bold;
  display: block;
}
.pm-block {
  position: relative;
}
.pm-block > .pm-toolbar {
  display: none;
}
.pm-block.selected {
  border: 3px solid #1f67b2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.pm-toolbar {
  font-size: 14px;
}
.pm-toolbar .btn {
  font-size: 14px;
}
.pm-toolbar-text {
  font-weight: bold;
  display: inline-block;
  padding: 6px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.pm-viewmode-content .pm-content > .pm-toolbar {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  /* box-shadow: 0 2px 5px rgba(0,0,0,.1); */
  z-index: 100;
  left: 0;
  right: 0;
  color: white;
}
.pm-viewmode-content .pm-content > .pm-toolbar .btn {
  color: white;
}
.pm-viewmode-layout .pm-content {
  position: relative;
}
.pm-viewmode-layout .pm-content:after {
  content: " ";
  position: absolute;
  z-index: 200;
  background: rgba(238, 205, 207, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pm-viewmode-layout .pm-layout {
  min-height: 60px;
}
.pm-viewmode-layout .pm-layout > .pm-toolbar {
  display: block;
  color: #b23d44;
}
.pm-viewmode-layout .pm-layout > .pm-toolbar a,
.pm-viewmode-layout .pm-layout > .pm-toolbar .btn {
  color: #b23d44;
}
.pm-viewmode-content .pm-block,
.pm-viewmode-layout .pm-block {
  min-height: 100px;
}
.pm-viewmode-content .pm-block.hovered,
.pm-viewmode-layout .pm-block.hovered {
  z-index: 1000;
}
.pm-viewmode-content .pm-placeholder:before,
.pm-viewmode-layout .pm-placeholder:before,
.pm-viewmode-content .pm-placeholder:after,
.pm-viewmode-layout .pm-placeholder:after {
  content: " ";
  display: table;
}
.pm-viewmode-content .pm-placeholder:after,
.pm-viewmode-layout .pm-placeholder:after {
  clear: both;
}
.pm-viewmode-content .pm-placeholder.pm-empty,
.pm-viewmode-layout .pm-placeholder.pm-empty {
  border: 1px dashed #ddd;
  padding: 10px 12px;
  margin: 15px 7.5px;
  min-height: 100px;
}
.pm-viewmode-content .pm-placeholder.pm-accept,
.pm-viewmode-layout .pm-placeholder.pm-accept {
  border: 3px solid white;
  margin: 10px 0;
  background: #eee;
  background: rgba(92, 184, 92, 0.2);
}
.pm-dragging .pm-placeholder {
  min-height: 150px;
}
