composer.lock
package-lock.json
yarn.lock
node_modules/
phpunit.xml

Resources/public/components/*
!Resources/public/components/ckeditor/

!Resources/public/components/bootstrap/
Resources/public/components/bootstrap/*
!Resources/public/components/bootstrap/fonts/

!Resources/public/components/mprogress/
Resources/public/components/mprogress/*
!Resources/public/components/mprogress/mprogress.min.css

vendor/
