{% extends 'OpiferCmsBundle::base.html.twig' %}

{% block body %}
    {% spaceless %}
        <div class="page-header clearfix">
            <h1 class="pull-left">Posts for {{ form.name }}</h1>
            <a href="{{ path('opifer_form_form_edit', {'id': form.id}) }}" class="btn btn-default pull-right">
                {{ 'back to form'|trans|capitalize }}
            </a>
        </div>

        <section class="panel-section">
            {{ grid(grid, 'OpiferCmsBundle:Backend/Grid:grid.html.twig') }}
        </section>
    {% endspaceless %}
{% endblock body %}
