{% extends 'OpiferCmsBundle::base.html.twig' %}

{% block body %}
    {% spaceless %}
        <div class="page-header clearfix">
            <h1 class="pull-left">Posts</h1>
        </div>

        <div class="container-fluid">
            {{ grid(grid, 'OpiferCmsBundle:Backend/Grid:grid.html.twig') }}
        </div>
    {% endspaceless %}
{% endblock body %}
