{% extends 'OpiferCmsBundle:Backend:base.html.twig' %}

{% block body %}
    <div class="page-header clearfix">
        <h1 class="pull-left">Create a new layout</h1>
    </div>

    <div class="container">
        <div class="row">
            {% include 'OpiferCmsBundle:Backend/Layout:_form.html.twig' %}
        </div>
    </div>
{% endblock body %}
