{% extends 'OpiferFormBundle::base.html.twig' %}

{% block opifer_form_body %}
    {% spaceless %}
        <div class="page-header clearfix">
            <h1 class="pull-left">Edit form</h1>
        </div>

        <div class="container">
            <div class="row">
                {{ form_start(form_form, {'style': 'horizontal'}) }}
                    {{ form_widget(form_form) }}
                    <input type="submit" value="Save" class="btn btn-default"/>
                {{ form_end(form_form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock opifer_form_body %}
