<form action="" method="post" {{ manage_tags() }}>
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="E-mailadres">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-submit" type="button"></button>
            </span>
        </div>
    </div>
</form>