<div {{ manage_tags() }}>
    {{ form_start(form, {'style': 'inline'}) }}
    <div class="input-group">
        {{ form_widget(form.email) }}
        <span class="input-group-btn">
            <button class="btn btn-primary btn-submit" type="submit"></button>
        </span>
    </div>
    {{ form_end(form) }}
</div>