{% extends "OpiferContentBundle:PageManager:edit_block.html.twig" %}



{#{% block block_body_tabs %}#}
    {#<div class="tab-content">#}
        {#{% if form.default|default %}#}
            {#<div class="tab-pane active" id="block-general">#}
                {#{{ form_rest(form.default, {'label_col': 12, 'widget_col': 12}) }}#}
            {#</div>#}
        {#{% endif %}#}
        {#<div class="tab-pane{% if not form.default|default %} active{% endif %} form-group-sm" id="block-properties">#}
            {#{% if form.properties|default %}#}
                {#{% for type in form.properties %}#}
                    {#{% for item in type %}#}
                        {#{{ form_row(type, {'size': 'small'}) }}#}
                    {#{% endfor %}#}

                {#{% endfor %}#}
            {#{% endif %}#}
        {#</div>#}
    {#</div>#}
{#{% endblock block_body_tabs %}#}