
opifer_cms_dashboard:
    path: /
    defaults: { _controller: OpiferCmsBundle:Backend/Dashboard:view }

opifer_cms_form_post_list:
    path: /forms/posts
    defaults: { _controller: OpiferCmsBundle:Backend/Post:list }

opifer_cms_setting_index:
    path: /setting
    defaults: { _controller: OpiferCmsBundle:Backend/Setting:index }

opifer_cms_template_index:
    path: /template
    defaults: { _controller: OpiferCmsBundle:Backend/Template:index }

opifer_cms_template_create:
    path: /template/create
    defaults: { _controller: OpiferCmsBundle:Backend/Template:create }

opifer_cms_template_edit:
    path: /template/edit/{id}
    defaults: { _controller: OpiferCmsBundle:Backend/Template:edit }
    requirements:
        id: \d+

opifer_cms_template_delete:
    path: /template/delete/{id}
    defaults: { _controller: OpiferCmsBundle:Backend/Template:delete }
    requirements:
        id: \d+

opifer_cms_site_index:
    path: /site
    defaults: { _controller: OpiferCmsBundle:Backend/Site:index }

opifer_cms_site_create:
    path: /sites/create
    defaults: { _controller: OpiferCmsBundle:Backend/Site:create }

opifer_cms_site_edit:
    path: /site/edit/{id}
    defaults: { _controller: OpiferCmsBundle:Backend/Site:edit }
    requirements:
        id: \d+

opifer_cms_site_delete:
    path: /site/delete/{id}
    defaults: { _controller: OpiferCmsBundle:Backend/Site:delete }
    requirements:
        id: \d+

opifer_cms_cronjob_index:
    path: /cronjob
    defaults: { _controller: OpiferCmsBundle:Backend/Cronjob:index }

opifer_cms_cronjob_create:
    path: /cronjob/create
    defaults: { _controller: OpiferCmsBundle:Backend/Cronjob:create }

opifer_cms_cronjob_edit:
    path: /cronjob/edit/{id}
    defaults: { _controller: OpiferCmsBundle:Backend/Cronjob:edit }
    requirements:
        id: \d+

opifer_cms_cronjob_delete:
    path: /cronjob/delete/{id}
    defaults: { _controller: OpiferCmsBundle:Backend/Cronjob:delete }
    requirements:
        id: \d+

opifer_cms_user_index:
    path: /users
    defaults: { _controller: OpiferCmsBundle:Backend/User:index }

opifer_cms_user_create:
    path: /users/create
    defaults: { _controller: OpiferCmsBundle:Backend/User:create }

opifer_cms_user_edit:
    path: /users/edit/{id}
    defaults: { _controller: OpiferCmsBundle:Backend/User:edit }
    requirements:
        id: \d+

opifer_cms_user_profile:
    path: /profile
    defaults: { _controller: OpiferCmsBundle:Backend/User:profile }

opifer_ckeditor_content:
    path: /ckeditor/content
    defaults: { _controller: OpiferCmsBundle:CKEditor:content }
    options:
        expose: true

opifer_ckeditor_media:
    path: /ckeditor/media
    defaults: { _controller: OpiferCmsBundle:CKEditor:media }
    options:
        expose: true

# Bundle routes

opifer_redirect_admin:
    resource: "@OpiferRedirectBundle/Resources/config/routing.yml"
    prefix:   /redirect

opifer_form_admin:
    resource: "@OpiferFormBundle/Resources/config/routing_admin.yml"

opifer_eav_admin:
    resource: "@OpiferEavBundle/Resources/config/routing.yml"

opifer_content_admin:
    resource: "@OpiferContentBundle/Resources/config/routing.yml"

opifer_media_admin:
    resource: "@OpiferMediaBundle/Resources/config/routing.yml"

fos_user_security_login:
    pattern:  /login
    defaults: { _controller: FOSUserBundle:Security:login }

fos_user_group:
    resource: "@FOSUserBundle/Resources/config/routing/group.xml"
    prefix:   /group

# Overriden Bundle actions

opifer_content_directory_index:
    path: /directory
    defaults: { _controller: OpiferCmsBundle:Backend/Directory:index }

opifer_content_content_type:
    path: /content/type/{type}
    defaults: { _controller: OpiferCmsBundle:Backend/Content:type }
    requirements:
        type:  \d+

opifer_content_content_history:
    path: /content/history/{type}/{id}/{version}
    defaults: { _controller: OpiferCmsBundle:Backend/Content:history, version: 0 }
    options:
        expose: true

opifer_content_block_shared:
    path: /content/shared
    defaults: { _controller: OpiferCmsBundle:Backend/Block:shared }
    options:
        expose: true

opifer_content_contenttype_index:
    path: /contenttype
    defaults: { _controller: OpiferCmsBundle:Backend/ContentType:index }

opifer_form_form_index:
    path: /form
    defaults: { _controller: OpiferCmsBundle:Backend/Form:index }

opifer_form_post_index:
    path: /form/{formId}/posts
    defaults: { _controller: OpiferCmsBundle:Backend/Post:index }
    requirements:
        formId: \d+
