{% extends "OpiferContentBundle::base.html.twig" %}
{% set no_angular = true %}
{% block header %} {% endblock %}
{% block main %}
    <div class="col-xs-12">
        <div class="page-header">
            <h1>{{ 'content.history.title'|trans|capitalize }}</h1>
        </div>
    </div>
{% endblock main %}